.loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
  z-index: 999; /* Ensure it appears above other elements */
  text-align: center;
  padding-top: 20%; /* Adjust for vertical centering */
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: #eee;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1%;
}

.header .navbar .nav-link{
  text-decoration: none;
  color: inherit;
  margin-right: 1.5rem;
  font-size: 18px;
  font-weight: 600;
  transition: 0.4s ease;
}
.header .navbar .nav-link:hover{
  color: rgb(94, 169, 255);
}
.header .navbar .nav-link:active{
  color: rgb(173, 195, 230);
}
.hero{
  height: 100svh;
}

.description-box{
  display: none;
}
.video-description{
  display: none;
}





@media (max-width:991px) {



}




/* MOBILE DESIGN */

@media (max-width:768px) {
  .header{
    justify-content: center;
  }
  .header .navbar{
    display: none;
  }


}